{{!< default}}

{{#post}}
<article class="post {{#is "page"}}page{{/is}}">

  <h2>Post View!</h2>
  {{!-- <header class="post-header">
    {{!-- Post Title --}}
    <h1 class="post-title">{{title}}</h1>

    {{!-- Meta Information --}}
    {{#is "post"}}
    <section class="post-meta">
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="DD MMMM YYYY"}}
      </time>
      {{tags prefix=" on "}}
    </section>
    {{/is}}
  </header>

  {{!-- Content --}}
  <section class="post-content">
    {{content}}
  </section>

  <section class="suggested-content row">
    {{!-- Read Previous--}}
    {{#prev_post}}
    <section class="col-xs-6 read-story read-prev-story">
      <p>Previous post:</p>
      <a class="prev-link" href="{{url}}">
        <h3>{{title}}</h3>
      </a>
    </section>
    {{/prev_post}}
    {{!-- Read Next --}}
    {{#next_post}}
    <section class="col-xs-6 read-story read-next-story">
      <p>Up next:</p>
      <a class="next-link" href="{{url}}">
        <h3>{{title}}</h3>
      </a>
    </section>
    {{/next_post}}
  </section> --}}

</article>
{{/post}}
